node_modules/
dist/
.env
__pycache__/
*.pyc
.vscode/
.DS_Store
.idea/
logs/
*.log
coverage
*.sqlite3
*.db
*.egg-info/
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
venv/
/backend/venv/
/backend/__pycache__/
/backend/.env
/backend/*.pyc
/backend/*.sqlite3
/backend/*.db